$tablet-width: 768px;
$desktop-width: 1024;

@mixin landscape {
    @media screen and (orientation: landscape){
        @content;
    }
}

@mixin tablet {
    @media (min-width: $tablet-width){
        @content;
    }
}

@mixin desktop {
    @media (min-width: $desktop-width){
        @content;
    }
}