$width: 100%;
$font-size: 1.2rem;
$background: #962acd;
$color: #fff;
$border-style: solid 1px $color;

//Numericas
$width-rem: 3.5rem;
$width-px: 300px;
$width: 300;

//Strings
$font: 'Lucida Grande';
$weight: bold;

//Cores
$bg: red;
$bg-section: rgba(0,0,0,.7);
$font-color: #fff;


//Listas
$animals: puma, sea-slug, egret, salamander;
$animals: puma sea-slug egret salamander;
$animals: "puma", "sea-slug", "egret", "salamander";

$margin: 20px 10px 15px 20px;


//Maps
$social: (
    facebook: #3b5968,
    flickr: #0063db,
    github: #4183c4,
    googleplus: #dd4b39,
    instagram: #517fa4,
    linkedin: #007bb6,
    pinterest: #cb2027
);

nav {
    background: $background;
    color: $color;
    width: $width;
    font-size: $font-size;
}


aside{
    width: $width-px;
}

section {
    font:{
        family: $font;
        weight: $weight;
    }
    margin: $margin;
}

body {
    background: $bg;
        color: $font-color;
}