@for $i from 1 through 3 {
    //O through pode ser substituido por "to" (through <=) (to <)  

    .item-#{$i} {
        width: 2em * $i;
    }

}

@each $animal in puma, sea-slug, egret, salamander { //O each é usado para iterar sobre uma lista
    .animal-#{$animal} {
        background-image: url(imagens/#{$animal}.png);
    }
}

$cont: 6;

@while $cont > 0 {
    #item-#{$cont} {
        width: $cont * 2;
    }

    $cont: $cont - 2;
} 